
.card {
    // border-bottom: 1px solid white;
    padding: 2em 1em;
    h3 {
        text-align:center;
    }
    .cardBody {
        display: flex;
        justify-content: center;
        // align-items: center;
        img{ margin-top: 1em; }
        margin: 2em 1em;
        .card-text {
            margin-left: 2em;
        }
    }
    .wide {
        display: flex;
        flex-direction: column;
        .card-text {
            margin-top: 2em;
        }    
    }
    
}
