.hero {
    background-image: url("../imgs/djimm-concept-01.PNG");
    background-size: cover;
    background-attachment: fixed;
    /* background: fixed center; */
}
.hero.is-fullheight {
        min-height: 50vh;
}

.hero-foot .nav{
    visibility: hidden;
    display:flex;
    justify-content: center;
}
.hero li:hover {
    font-weight: bold;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.mobile-nav {
    font-size: 10pt;
}

.main-header {
    flex-direction: column;
    align-items: center;
}
.main-header h4{
    margin-top: 4%;
    /* color: white; */
    mix-blend-mode: multiply;
}
footer .column {
    justify-content: center;
}
.social-container {
    flex-flow: column nowrap;
    align-items: center;
}
.social-links {
    justify-content: center;
}
footer h1 {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 10%;
}
.social-links i {
    margin-right: 5%;
    margin-left: 5%;
}
.img-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    
}
.placeholder-self {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.circle {
    display: flex;
    align-items:center;
    justify-content: center;
    height:100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
}
body {
    /* background-image: url(../imgs/stage-composite.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ccf7ff+0,f2f6f8+13,ffe1d3+20,ffd3d3+23,b5c6d0+26,b5c6d0+34,60676b+100 */
    background: #ccf7ff; /* Old browsers */
    background: -moz-linear-gradient(top, #ccf7ff 0%, #f2f6f8 13%, #ffe1d3 20%, #ffd3d3 23%, #b5c6d0 26%, #b5c6d0 34%, #60676b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ccf7ff 0%,#f2f6f8 13%,#ffe1d3 20%,#ffd3d3 23%,#b5c6d0 26%,#b5c6d0 34%,#60676b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ccf7ff 0%,#f2f6f8 13%,#ffe1d3 20%,#ffd3d3 23%,#b5c6d0 26%,#b5c6d0 34%,#60676b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccf7ff', endColorstr='#60676b',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed; 
}
.body {
    padding: 5%;
}
.card {
    align-items:center;
    flex-direction: column;
    padding: 5%;
    border: 0px;
    margin-bottom: 5%;
}
.card-image + .card-body {
    margin-top: 3%;
}
.card-body + .card-image {
    order: -1;
    margin-bottom: 3%;

}

@media only screen and (min-width: 480px) {
    .hero.is-fullheight {
        min-height:100vh;
    }
    .hero-foot .nav {
        visibility: visible;
    }
    .mobile-nav {
        visibility: hidden;
    }
    .card {
        flex-direction: row;
    }
    .card-body + .card-image {
        order: 0;
        margin: 0;
        margin-left: 3%;
    }
    .card-image + .card-body {
        margin:0;
        margin-left: 3%;
    }
}